@page
@model DenchikDance.PagesTournaments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].TournamentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tournament[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tournament) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentDate)
            </td>
            <td>
                <img src="@item.TournamentImage" alt="Image" height="100px"/>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
