@page
@model Pages_Blog.IndexModel
@{
    
}

<div class="text-center">
    <section class="breadcrumbs-area breadcrumb-bg-1 ptb-160 port bread-card solid-color mt-20" style="background-image: url(/images/poster.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="breadcrumbs">
                        <h2 class="page-title">Мой блог</h2>
                        <ul>
                            <li>
                                <a class="active" href="#">Кисики</a>
                            </li>
                            <li>My Blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="blog-area border-top pt-50 pb-50">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Article)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="single-blog text-center mb-40">
                            <div class="hover-style blog-icon">
                                <a asp-page="./Single" asp-route-id="@item.ID">
                                    <img src="@item.ArticleImage" alt="" class="image-blog">
                                </a>
                            </div>
                            <div class="blog-details text-center">
                                <h3><a asp-page="./Single" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Title)</a></h3>
                                <p>@Html.DisplayFor(modelItem => item.Text)</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
